---
import SharedUi from "../modules/sales/shared/shared-ui"; // Update the path as necessary
const { children } = Astro.props;
---

<SharedUi client:only="react">
  <main>
    <div class="">
  <slot />
  {children}
  </div>
  <script is:inline src="../node_modules/flyonui/flyonui.js"></script>
  </main>
</SharedUi>


